*{
    padding :0;
    margin:0;
    font-family: 'Josefin Sans' ,sans-serif;
    box-sizing:border-box;
    background-color: black;
}
.hero{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.img1{
    float:right;
    width:60%;
    margin:5%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo{
    color:white;
    font-size:35px;
    letter-spacing: 1px;
    cursor: pointer;
}
span{
    color:#f9004d;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color:white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color:#f9004d;
    transition: .4s;
}
.content{
    position:absolute;
    top:50%;
    left:20%;
    transform: translate(-50%);
}
h1{
    color:white;
    margin:20px 0px 20px;
    font-size: 75px;
}
h3{
    color:white;
    font-size: 25px;
    margin-bottom: 50px;
}
h4{
    color:#fcfc;
    letter-spacing: 2px;
    font-size: 20px;
}
.about{
    margin:70px;
    padding:90px;
    background-color: #191919;
}
.about img{
    background-color: #191919;
    height:auto;
    width:600px;
}
.about-text{
    width:350px;
    background-color: #191919;
}
.main{
    width:1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #191919;
}
.about-text h2{
    color:white;
    font-size: 65px;
    text-transform: capitalize;
    margin-bottom: 20px;
    background-color: #191919;
}
.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 20px;
    margin-bottom: 25px;
    text-transform: capitalize;
    background-color: #191919;
}

.about-text p{
    color:#fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom:45px;
    background-color: #191919;

}
.title h2{
    color:white;
    font-size: 65px;
    width:1130px;
    margin:30px auto;
    text-align: center;
}

.box{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.card{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    outline-color:#191919;
    outline-style: solid;
    text-align: center;
}

.image {
    margin: 15px 0;
    text-align: center;
}

.image img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

h5{
    color:white;
    font-size: 23px;
    margin-bottom: 15px;
}
.pra p{
    color:#fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;

}

.skills {
    font-size: 16;
    margin: 70px;
    background-color: #191919;
    padding: 5px;
  }

  .skill1 h2{
    color:white;
    font-size: 65px;
    width:1755px;
    margin:30px auto;
    text-align: center;
    background-color: #191919;
}
  
  .skill {
    font-weight: bold;
    margin: 10px 0;
    color:white;
    background-color: #191919;
  }

  .skill-item {
    margin: 10px 600px;
    width: 100%;
    max-width: 600px; 
    background-color: #191919;/* Optional: limits the maximum width of skill bars */
  }
  
  .skill-bar {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    height:28px;
    width:100%;
  }
  
  .skill-level {
    background-color: #333;
    height: 28px;
    border-radius: 4px;
  }
  .contact h2{
  color:white;
  font-size: 60px;
  width:1130px;
  margin:30px auto;
  text-align: center;
   padding: 40px 20px;
 
  }

  .contact {
    text-align: center;
    color: #fff;
    padding: 40px 20px;
}

footer {
    text-align: center;
    padding: 20px;
    color: #fff;
}

  
  


  
  
